@charset "UTF-8";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  width: 300px;
  height: 450px;
  margin-bottom: 50px;
  border: 1px solid black;
}

.question-01 {
  position: relative;
  height: 300px;
  font-size: 16px;
  overflow: scroll;
  background: rgb(135, 190, 135);
}
.question-01.scroll-control {
  overflow: hidden;
}
.question-01 .lorem-content.background-control {
  background: gray;
}
.question-01 .lorem-content .open-btn {
  margin: 10px auto;
  display: block;
}
.question-01 .lorem-content .open-show {
  visibility: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 70%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transform: translate(-50%, -50%);
  background: rgb(201, 177, 177);
}
.question-01 .lorem-content .open-show .close-btn {
  padding: 5px;
  outline: 2px solid blue;
  outline-offset: 2px;
}
.question-01 .lorem-content .open-show.display-control {
  visibility: inherit;
}

.question-02 {
  padding: 10px;
  height: 300px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background: rgb(135, 190, 135);
}
.question-02 p {
  margin-bottom: 10px;
  font-size: 18px;
  letter-spacing: 1px;
}
.question-02 form {
  margin-bottom: 20px;
}
.question-02 form li {
  margin: 5px 0;
}
.question-02 form li div {
  padding: 5px;
  background: rgb(216, 201, 201);
  cursor: default;
}

.question-03 {
  width: 450px;
  height: 400px;
  padding: 10px;
  background: rgb(141, 196, 141);
  text-align: center;
}
.question-03 .set-count {
  text-align: center;
  margin-bottom: 30px;
}
.question-03 .set-count label,
.question-03 .set-count input {
  display: inline-block;
  padding: 5px;
}
.question-03 .image-gallery {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.question-03 .image-gallery .i-create {
  margin: 0 20px;
  padding: 10px;
  display: inline-block;
  background: chocolate;
}
.question-03 .image-gallery .i-create .i-setimage {
  border-radius: 50%;
}
.question-03 button {
  padding: 10px;
  margin: 0 10px;
}

.question-04 {
  background: rgb(167, 207, 169);
  height: 300px;
  position: relative;
}
.question-04 h1 {
  text-align: center;
  margin-bottom: 10px;
}
.question-04 .content {
  width: 90%;
  background: gray;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 20px 0;
}
.question-04 .content label,
.question-04 .content input {
  display: inline-block;
  margin: 5px 0;
  padding: 5px;
}
.question-04 .content label:focus,
.question-04 .content input:focus {
  outline: none;
  /* 移除預設的聚焦時輪廓效果 */
}
.question-04 .content button {
  padding: 5px;
}

.question-05 {
  width: 400px;
  height: 250px;
  background: rgb(135, 190, 135);
  overflow: hidden;
}
.question-05 .qs {
  height: 250px;
  padding: 10px;
}
.question-05 h1 {
  text-align: center;
  margin-bottom: 10px;
}
.question-05 p {
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 20px;
}
.question-05 button {
  display: block;
  margin: 0 auto;
  padding: 5px;
}
.question-05 h2 {
  margin-bottom: 30px;
}
.question-05 .finaly {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.question-05 .finaly p {
  margin-bottom: 0px;
}
.question-05 .finaly input {
  padding: 2px 5px;
  margin-bottom: 10px;
}
.question-05 .show {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}/*# sourceMappingURL=第六週.css.map */